
  <header class="jumbotron" >
  <div class="container">
  <h1>MISS COLLE(仮)</h1>
  <p></p>
 <p><a class="btn btn-lg midashi-btn" role="button">もっと詳しく &raquo;</a></p>
</div>
  </header>
  <div class="form-inline form-group" >
    <%= render partial: "yj",collection: @yj %>
  </div>

